body,
html {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}


.mainContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color)
}


