body {

    font-family: var(--secondaryFont);
    padding: 0%;


}

.row {
    margin-right: 0;
    margin-left: 0;
}

html {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
}


.mainContainer {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
    overflow-x: hidden;
}