
.sideBar p {
    font-size: var(--heading);
    font-family: var(--primaryFont);
    font-weight: 500;

}

.sideBarLogo img {
    max-height: 250px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.nav-link,
.nav-link.active {
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: var(--subheading);
    font-family: var(--primaryFont);
}

.nav-link:hover,
.nav-link.active:hover {
    color: var(--text-color-dark);
    text-shadow: 0 0 8px var(--btn-hover2);
    cursor: pointer;
}

.custom-sidebar {
    overflow-y: auto;
    min-height: 70vh;
    max-height: 100vh;
}
